<div class="container">

  <h1>Dashboard</h1>

  <div class="search-form">
    <%= simple_form_for :search, url: results_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :title, input_html: {value: ""} %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
