
// <h1><%= @release.artist %></h1>
// <h2><%= @release.title %></h2>
// <p><%= @release.label %></p>
// <p><%= @release.catalog_number %></p>
// <p><%= @release.format %></p>
// <p><%= @release.released %></p>
// <p><%= @release.styles %></p>
// <p><%= @release.tracklist %></p>
// <p><%= @release.cover_url %></p>

.wrapper_show{
  height: 100%;
  overflow: scroll;
  background-size: cover;
  background-position: center;




}
.release_img_0{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  }





  .container_1{
    background: rgba(255, 255, 255, 0);    width: 40%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .release_img{
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        }
      }




  .container_2{
    background: rgba(255, 255, 255, 0);
    width: 40%;
    height: 100%;

  }
  .container_3{
    background: rgba(255, 255, 255, 0);
    width: 20%;
    height: 100%;
    .btn_main {
      margin-top: 1rem!important;
      margin-bottom: 1rem!important;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;
      width: 316px;
      height: 58px;
      background: linear-gradient(87.81deg, #5F9ADA -6.68%, #D05BB8 46.11%, #22A8B5 102.32%);
      border: 1px solid rgba(255, 255, 255, 0.25);
      border-radius: 8px;
      flex: none;
      order: 2;
      flex-grow: 0;
      left: 660px;
      top: 10px;
      font-family: 'Syne', sans-serif;

  }
  }


h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Syne', sans-serif;
  ;

}
h2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Syne', sans-serif;



  }
  p {
    display: flex;
    align-items: flex-end;
    font-family: 'Syne', sans-serif;

    }




  // background-image: url('images/checked.png');: var(--url);
