<%# <%= link_to "Edit this release", edit_release_path(@release), class: "btn_main" %>
<div class="wrapper_show">
<div class="container_1"><div class="album_container">container</div></div>
<div class="container_2">container_2</div>
<div class="container_3">container_3</div>
<%# <% if @release.cover_url.attached? %>
    <%# <%= cl_image_tag @release.photo.key, height: 300, width: 400, crop: :fill %>
  <%# <% end %>
</div>